{% extends 'HomeworkBundle:CourseManage:layout.html.twig' %}
{% block title %}文件管理 - {{ parent() }}{% endblock %}
{% set side_nav = 'homeworkCheck' %}
{% set tab = 'courseLesson' %}
{% set script_controller = 'homework/index' %}
{% block main %}
  <style type="text/css">
  .tooltip-inner{
  max-width: 600px;
  }
  </style>
  <div class="panel panel-default panel-col">
    <div class="panel-heading">作业管理>{{ course.title }}>{{ lesson.title }}</div>
    <div class="panel-body" id="file-manage-panel">
      
      <table class="table table-striped table-hover" id="course-lesson-table">
        <thead>
          <tr>
            <th width="5%"><input type="checkbox"  data-role="batch-select"></th>            
            
            <th>学生</th>
            <th>最后更新</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          
            {% for homework_member in homework_members %}
              {% include 'HomeworkBundle:Homework:lesson-tbody-tr.html.twig' %}
            {% else %}
              <tr class="empty"><td colspan="20">无作业记录</td></tr>
            {% endfor %}
          
        </tbody>
      </table>
      
      <label class="checkbox-inline mrm mbm"><input type="checkbox" data-role="batch-select"> 全选</label>
      
      <div class="btn-group mbm">
        <button class="btn btn-danger btn-sm" data-role="batch-delete" data-name="作业记录" data-url="{{ path('homework_member_delete', {id:course.id, type:tab}) }}">
        <i class="glyphicon glyphicon-trash"></i>
        删除</button>
      </div>
      
      <nav class="text-center">
        {{ web_macro.paginator(paginator) }}
      </nav>
      
      
    </div>
  </div>
{% endblock %}